<div id="page-content-wrapper">
    <div class="container-fluid">
        <h1 class="mt-4">CONTENT</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            animi modi culpa, explicabo ratione voluptates quod neque nemo
            impedit, adipisci, sit officiis laboriosam! Culpa illo molestias
            voluptatem reiciendis laborum quidem.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea sed
            sequi possimus dolores et deserunt quaerat qui obcaecati. Ducimus
            minus voluptates minima ab pariatur corporis a vel rem quae et!
        </p>
    </div>
</div>