<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="/Admin/admin_page_billett_typer" class="list-group-item list-group-item-action bg-light">
            <i class="fa fa-money"></i> Priser
        </a>
        <a href="/Admin/admin_page_bestillinger" class="list-group-item list-group-item-action bg-light">
            <i class="fa fa-ticket"></i> Bestillinger
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">
            <i class="fa fa-id-card"></i> Admin brukere
        </a>
    </div>
</div>