<div id="modal_delete_container" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bekreft sletting</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Bekreft at følgende element skal slettes:</p>
                <div class="text-danger" id="modal_delete_data_detail">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="modal_delete_btn">Slett</button>
            </div>
        </div>
    </div>
</div>
