
@{
    ViewBag.Title = "admin_page_billett_typer";
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}


    @Html.Partial("_admin_topnav")
    <div class="d-flex" id="wrapper">
        @Html.Partial("_admin_sidenav")
        @Html.Partial("_admin_content")
    </div>
