@model List<Model.BillettType>

@{
    ViewBag.Title = "admin_page_billett_typer";
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}


@Html.Partial("_admin_topnav")
<div class="d-flex" id="wrapper">
    @Html.Partial("_admin_sidenav")
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row control-row">

                <div class="col">
                    <button class="btn btn-primary pull-right">
                        <i class="fa fa-plus">
                        </i>
                    </button>
                </div>


            </div>
            <h1 class="mt-4">Billett Typer:</h1>


            @foreach (var billett_type in Model)
            {
                @Html.Partial("_admin_liste_billettType", billett_type);
            }


           
        </div>
    </div>
</div>

@Html.Partial("_modal_delete")
