@model List<VyBillettWebApp.Models.Bestillinger>
@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>

<table id="table" class="table">

    <tr>
        <th>
            Id
        </th>
        <th>
            Fra
        </th>
        <th>
            Til
        </th>
        <th>
            Utreise
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row">
            <td >
                @item.bestilling_id
            </td>
            <td>
                @item.fra
            </td>
            <td>
                @item.til
            </td>
            <td>
                @item.reise_dato
            </td>
        </tr>
    }
</table>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Pikaday/pikaday.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/stasjonerdata.js"></script>


}
<a href="Index">Kjøp ny billett</a>

