@model List<VyBillettWebApp.Models.Bestillinger>
@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>

<table class="table">

    <tr>
        <th>
            Id
        </th>
        <th>
            Fra
        </th>
        <th>
            Til
        </th>
        <th>
            Utreise
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.bestilling_id
            </td>
            <td>
                @item.fra
            </td>
            <td>
                @item.til
            </td>
            <td>
                @item.reise_dato
            </td>
        </tr>
    }
</table>
<a href="Index">Kjøp ny billett</a>
