.antall {
    background-color: #f5f5f5;
    width: 70px;
    border-radius: 50px;
}
.tidvelger {
    width: 100%;
    height: 64px;
    font-size: 1.25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-style: none;
    border-bottom: 2px solid #2B2B2C;
    border-radius: 0px;
    background-color: #F5F5F5;
    text-indent: 7%;
    outline-color: #A7BCD6;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 70px center;
    background-image: url('Ikoner/klokke.png');
   
}

#header{
    margin-top:40px;
    margin-bottom:40px
}

.datovelger {
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 15px center;
    width: 100%;
    height: 64px;
    border-style: none;
    border-bottom: 2px solid #2B2B2C;
    border-radius: 0px;
    background-color: #F5F5F5;
    text-indent: 12px;
    outline-color: #A7BCD6;
    font-size: 20px;
    margin-right: 10%;
    text-align: center;
    background-image: url('Ikoner/calendar_1067994.png');
}
.form-control-strekning {
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    min-width: 363px;
    height: 72px;
    padding-top: 2px;
    display: flex;
    align-items: flex-start;
    background-color: #F5F5F5;
    text-indent: 12px;
    color: #2B2B2C;
    border: 0;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 15px center;
    padding-left: 40px;
    font-weight: 400;
    font-family: VySans, arial, sans-serif;
    padding-right: 40px;
    font-size: xx-large;
    border-bottom: 2px solid #2B2B2C;
    background-image: url('Ikoner/PinClipart.com_camera-lens-clipart_157992.png');
}

    .form-control-strekning:hover {
        
        transition: border-bottom 0.25s;
        border-bottom: 3px solid #00866e;
    }


.test {
    margin-left: 17%;
    color: #a94442;
}
.input-validation-error {
    border-bottom: 3px solid #a94442;
}
.fontforboks {
    font-size: 19px;
    font-family: Bahnschrift;
    font:medium;
}
.h2 {
margin-left:48%;

}
.navbar-inverse {
    background-color:#383e42;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.btn-primary {
    background-color:#00866e;
   font-size: 17px;
}
    .btn-primary:hover {
        background-color: #00604f;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 280px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    margin-top: 0%;
    max-height: 400px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*INKREMENTKNAPP START*/

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 32px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 32px/0.80 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.increment_btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.increment_btn:hover {
    background-color: #7e8eff; 
}

.input_antall {
    border: 1px solid #cecece00;
    width: 2%;
}

/*Prevent text selection*/
.minus .plus span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#retur{
    display: none;
}
.radioknapper {
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: 2px solid #00866E;
}

.radiolabel {
    vertical-align: super;
    margin-left: 7px;
    margin-right: 20px;
}

.bg-primary {
    
    background-color: #00866e;
}

.bg-primary:hover {
    color: #fff;
    background-color: #00604f;
}

.rad{
    margin-bottom:15px;
}

#submit_buy_btn {
    float: right;
    width: 345px;
    text-align: center;
    margin-right: -2%;
    font-size: 28px;
}

#loggInnKnapp {
    right: 0;
    background-color: #00866e;
}
/*INKREMENTKNAPP SLUTT*/